<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Toys List</h1>
  </div>
</section>


<div class="album text-muted">
  <div class="container">

    <div class="row">
      <%= render 'toy_card', toys: @toys %>
    </div>
  </div>
</div>
