<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Toys List</h1>
  </div>
</section>


<div class="album text-muted">
  <div class="container">

    <div class="row">
      <% if @toys.present? %>
        <%= render 'toy_card', toys: @toys %>
      <% else %>
        <p class="text-center"> There is nothing to show in here, yet.</p>
      <% end %>
    </div>
  </div>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Toys I Lend</h1>
  </div>
</section>


<div class="album text-muted">
  <div class="container">

    <div class="row">
      <% if @lended_toys.present? %>
        <%= render 'toy_card', toys: @lended_toys %>
      <% else %>
        <p class="text-center"> There is nothing to show in here, yet.</p>
      <% end %>
    </div>
  </div>
</div>

